<div class="app-container">
  <div class="app-header">
    <md-toolbar color="primary"
                class="app-header-toolbar ">
      <i class="material-icons md-24">content_cut</i>
      <span>LilyFabric</span>
    </md-toolbar>
  </div>

  <div class="app-body">
    <router-outlet></router-outlet>
  </div>

  <div class="app-footer">
    <nav md-tab-nav-bar>
      <a md-tab-link
         class="app-footer-menu"
         *ngFor="let tab of tabs"
         [routerLink]="tab.link"
         routerLinkActive
         #rla="routerLinkActive"
         [active]="rla.isActive">
        <i class="material-icons md-24">{{ tab.icon }}</i>
        <br>
        {{ tab.label }}
      </a>
    </nav>
  </div>
</div>
