<div class="app-container">
  <div class="app-header">
    <md-toolbar color="primary">
      <img src="../assets/images/logo.jpg"
           class="app-logo"
           alt="logo">
    </md-toolbar>
  </div>

  <div class="app-body">
    <router-outlet></router-outlet>
  </div>

  <div class="app-footer">
    <nav md-tab-nav-bar>
      <a md-tab-link
         class="app-footer-menu"
         *ngFor="let tab of tabs"
         [routerLink]="tab.link"
         routerLinkActive
         #rla="routerLinkActive"
         [active]="rla.isActive">
        <md-icon>{{ tab.icon }}</md-icon>
        <br>
        {{ tab.label }}
      </a>
    </nav>
  </div>
</div>
